{% extends 'layouts/index.html' %}
{% load static %}


{% block title %}
    hello
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'products.css' %}">
{% endblock %}


{% block content %}
    <form action="/products/" method="get">
        {% csrf_token %}
        <input type="text" name="search">
        <input type="submit" name="Search">
    </form>

    <div class="products">
        {% for product in products %}
            <dev class="product_block">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">

                        {% if product.image %}
                            <img class="product_image" src="/media/{{ product.image }}" alt="" width="250px">
                        {% else %}
                            <img class="product_image" src="../../media/img_1.png" alt="" width="250px">
                        {% endif %}

                        <h5 class="card-title">{{ product.title }}</h5>
                        <h6 class="card-title">Rate: {{ product.rate }}</h6>

                        {% for hashtag in product.hashtags %}
                            <p>{{ hashtag.title }}</p>
                        {% endfor %}

                        <a href="/products/{{ product.id }}/" class="card-link">More</a>
                    </div>
                </div>
            </dev>
        {% endfor %}
    </div>
    <div class="pages">
        {% for page in pages %}
            <a href="/products/?page={{ page }}">
                <button class="page_button">{{ page }}</button>
            </a>
        {% endfor %}
    </div>
{% endblock %}
